
{% block fos_user_content %}

    <div>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
            <div>
                <div class="container-fluid">
                    <div class="row register-margin">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {{ form_errors(form) }}
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="form-group">
                            <label for="txtUserName" class="col-sm-4 col-md-4 col-lg-4 control-label">Username :</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">  
                                 <input type="text" id="fos_user_registration_form[username]" name="fos_user_registration_form[username]" required="required" maxlenght="255" class="form-control"> 
                              {#  {{ form_widget(form.username ) }}#}
                                {{ form_errors(form.username) }}
                            </div>  
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="form-group">
                            <label for="txtEmail" class="col-sm-4 col-md-4 col-lg-4 control-label">Email :</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                 <input type="text" id="fos_user_registration_form[email]" name="fos_user_registration_form[email]" required="required" maxlenght="255" class="form-control"> 
                              {#  {{ form_widget(form.email) }}#}
                                {{ form_errors(form.email) }}
                            </div>  
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="form-group">
                            <label for="txtPassword" class="col-sm-4 col-md-4 col-lg-4 control-label">Password :</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                 <input type="password" id="fos_user_registration_form[plainPassword][first]" name="fos_user_registration_form[plainPassword][first]" required="required" maxlenght="255" class="form-control"> 
                              {#  {{ form_widget(form.plainPassword.first) }}#}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>  
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="form-group">
                            <label for="txtRepeatPassword" class="col-sm-4 col-md-4 col-lg-4 control-label">Repeat Password :</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                 <input type="password" id="fos_user_registration_form[plainPassword][second]" name="fos_user_registration_form[plainPassword][second]" required="required" maxlenght="255" class="form-control"> 
                             {#   {{ form_widget(form.plainPassword.second) }}#}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>  
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="form-group">
                            <label for="fos_user_registration_form[title]" class="col-sm-4 col-md-4 col-lg-4 control-label">Title :</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" id="fos_user_registration_form_title" name="fos_user_registration_form[title]" required="required" maxlenght="255" class="form-control"> 
                            </div>  
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="form-group">
                            <label for="fos_user_registration_form[firstname]" class="col-sm-4 col-md-4 col-lg-4 control-label">First name :</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" id="fos_user_registration_form_firstname" name="fos_user_registration_form[firstname]" required="required" maxlenght="255" class="form-control">
                            </div>  
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="form-group">
                            <label for="fos_user_registration_form[lastname]" class="col-sm-4 col-md-4 col-lg-4 control-label">Last name :</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" id="fos_user_registration_form_lastname" name="fos_user_registration_form[lastname]" required="required" maxlenght="255" class="form-control">
                            </div>  
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="form-group">
                            <label for="fos_user_registration_form[company]" class="col-sm-4 col-md-4 col-lg-4 control-label">Company :</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" id="fos_user_registration_form_company" name="fos_user_registration_form[company]" required="required" maxlenght="255" class="form-control">
                            </div>  
                        </div>
                    </div>    
                    <div class="row register-margin">
                        <div class="form-group">
                            <label for="fos_user_registration_form[adress]" class="col-sm-4 col-md-4 col-lg-4 control-label">Adress :</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" id="fos_user_registration_form_adress" name="fos_user_registration_form[adress]" required="required" maxlenght="255" class="form-control">
                            </div>  
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 register-button">
                            <input type="submit" class="btn btn-primary btn-md" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}">
                        </div>
                    </div>
                    <div class="row register-margin">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {{ form_row(form._token) }}
                        </div>
                    </div>
                </div> 

            </div>
    </div>
</form>  



{%endblock%}