<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    
    
    
    <table class="table table-responsive" align="center" >

        <tr>
            <td><Font color="black" size="4">Current Password :</Font></td>
            <td><font color="black" size="4"> {{ form_widget(form.current_password) }}</font></td>
        </tr>
          <tr>
            <td><font color="black" size="4">New Password :</font></td>
            <td><font color="black" size="4"> {{ form_widget(form.new.first) }}</font></td>
        </tr>
          <tr>
            <td> <font color="black" size="4">Repeat new password :</font></td>
            <td> <font color="black" size="4">{{ form_widget(form.new.second) }} </font</td>
        </tr>

            <td></td>
            <td><br><input type="submit" class="btn btn-primary btn-lg" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" /><td>
        </tr>
    
    </table>
    <div>
        {{ form_row(form._token) }}
    </div>
</form>
