{% extends '::base_login.html.twig' %} 
{% block body %}
    <div id ="divLogin" class="container-fluid login-background">
        <div class="row center-h-v login-height">
            <div>
                <div class="container-fluid ">
                    <div class="row login-window login-width">          
                        <div class="col-xs-4 col-lg-4">
                            <img src="{{asset('design/img/Medical/MOVACP.gif')}}" alt="" class="login-logo" />
                        </div>
                        <div class="col-xs-8 col-lg-8"></div>
                        {#<div class="row">
                             <div class="container-fluid layout-Session">
                                 <div class="col-md-3"></div>
                                 <div class="col-md-4 col-lg-6">
                                     <!-- Collect the nav links, forms, and other content for toggling -->
                                     <div class="navbar-menu">
                                         <ul class="nav navbar-nav">
                                             <li><a href="{{ path('enterface_service_homepage') }}" id="lnkHome" style='font-size:17pt;'>Home</a></li>
                                                 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                 <li>
                                                     <a href="{{ path('fos_user_security_logout') }}" style='font-size:17pt;'> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </a>
                                                 </li>
                                                 <li>
                                                 {% else %}
                                                 {% endif %}
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>#}
                        <div class="row">               
                            <div class="container-fluid layout-Session">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                                    {% if app.request.hasPreviousSession %}
                                        {%for type, messages in app.session.flashbag.all() %}
                                            <div class="alert alert-danger">
                                                <ul>
                                                    {% for message in messages %}
                                                        <li>
                                                            {{message}}    
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {%endfor%}
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                        <div class="row layout-Session">
                            {% block fos_user_content %}
                            {% endblock fos_user_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

{% endblock %}
