



<div class="col-sm-4 col-xs-4 col-lg-3 col-md-3">
    <h3> <br>Vertebrae Detection : </h3><br>
    <img style="width:250px; height:460px;" class="img-responsive portfolio-item" src="/vertebraimage/0/0/0/out_img.jpg?rnd={{ random() }}"></img><br>
	<a href="/vertebraimage/0/0/0/out_img.jpg?rnd={{ random() }}" download="out_img.jpg" class="btn btn-success" role="button">Download this result</a>
</div>

<div class="col-sm-4 col-xs-4 col-lg-3 col-md-3">
<h3><br>Vertebrae Filtering : </h3><br>
<img style="width:250px; height:460px;"  class="img-responsive portfolio-item" src="/vertebraimage/0/0/0/meanshift.jpg??rnd={{ random() }}"></img><br>
<a href="/vertebraimage/0/0/0/meanshift.jpg?rnd={{ random() }}" download="meanshift.jpg" class="btn btn-success" role="button">Download this result</a>
</div>

<div class="col-sm-4 col-xs-4 col-lg-3 col-md-3">
<h3><br>Vertebrae Fitting : </h3><br>
<img style="width:250px; height:460px;" class="img-responsive portfolio-item" src="/vertebraimage/0/0/0/ellipse.jpg?rnd={{ random() }}"></img><br>
<a href="/vertebraimage/0/0/0/ellipse.jpg?rnd={{ random() }}" download="ellipse.jpg" class="btn btn-success" role="button">Download this result</a>
</div>
