



<div class="col-sm-4 col-xs-8"><br>
    <br><br><h3> Vertebrae Detection : </h3><br> <img style="width:250px; height:460px;" src="/vertebraimage/{{a}}/{{b}}/{{c}}/MRI_vertebrae_Curve.jpg?rnd={{ random() }}"></img>
<a href="/vertebraimage/{{a}}/{{b}}/{{c}}/MRI_vertebrae_Curve.jpg?rnd={{ random() }}" download="MRI_vertebrae_Detection" class="btn btn-primary btn-lg active" role="button">Download this result</a>
</div>
<div class="col-sm-4 col-xs-8"><br><br><br> <h3> Curve Detection : </h3><br> <img style="width:250px; height:460px;"  src="/vertebraimage/{{a}}/{{b}}/{{c}}/MRI_vertebrae.jpg?rnd={{ random() }}"></img>
<a href="/vertebraimage/{{a}}/{{b}}/{{c}}/MRI_vertebrae.jpg?rnd={{ random() }}" download="MRI_vertebrae_Curve.jpg?cache=none" class="btn btn-primary btn-lg active" role="button">Download this result</a>
</div>
<div class="col-sm-4 col-xs-8">
<br><br><br><h3> Vertebrae Detection : </h3><br>
<img style="width:250px; height:460px;" src="/vertebraimage/{{a}}/{{b}}/{{c}}/MRI_segmented_vertebrae.jpg?rnd={{ random() }}"></img>
<a href="/vertebraimage/{{a}}/{{b}}/{{c}}/MRI_segmented_vertebrae.jpg?rnd={{ random() }}" download="MRI_segmented_vertebrae.jpg" class="btn btn-primary btn-lg active" role="button">Download this result</a>
</div>