{% extends '::base_login.html.twig' %} 
{% block body %}
     
    

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><br>Bone analysis :
                    <small>DICOM scanner</small>
                </h1>
            </div>
        </div>

        <div class="row">

        {% if works %}  
           
    <div class="col-sm-4 col-xs-4 col-lg-4 col-md-4" >
        
        <center><font color="green"><h3>Input Values</h3></font></center>
    <table class="table table-striped table-inverse">
		<tr>
			<td colspan=3><center><font color="blue"><b>BMD Values</font></center></td>
		</tr>
        <tr>
            <td><b>Bone ADU</td>
			<td><b>Mean BMD</td>
			<td><b>SD</td>
            
        </tr>
        <tr>
            <td>{{BADU}}</td>
            <td>{{MBMD}}</td>
			<td>{{SD}}</td>
        </tr>
    </table>
  

<table class="table table-striped table-inverse">
 <tr>
			<td colspan=2><center><font color="blue"><b>Phantom values</font></center></td>
 </tr>  
<tr>
<td> <b>HU </td>
<td> <b>HA </td>
</tr>
<tr>
<td>{{HU1}} </td>
<td>{{HA1}} </td>
</tr>
<tr>
<td>{{HU2}} </td>
<td>{{HA2}} </td>
</tr>
<tr>
<td>{{HU3}} </td>
<td>{{HA3}} </td>
</tr>
<tr>
<td>{{HU4}} </td>
<td>{{HA4}} </td>
</tr>
<tr>
<td>{{HU5}} </td>
<td>{{HA5}} </td>
</tr>
<tr>
<td>{{HU6}} </td>
<td>{{HA6}} </td>
</tr>
</table>
<!--<center><a href="{{ path('enterface_download_result', { 'file' : 'Input_values.txt'}) }}" class="btn btn-success" download="Input_values.txt" role="button" style="width:300px;background-color: green;">Download Input values </a><br></center><br>
<center><a href="{{ path('enterface_download_result', { 'file' : 'Phantom1.txt'}) }}"     class="btn btn-success" download="Phantom1.txt"     role="button" style="width:300px;background-color: green;">Download Phantom values</a><br></center>!-->


</div>

<div class="col-sm-6 col-xs-6 col-lg-4 col-md-4"style="border: 2px solid steelblue;overflow:auto; border-radius: 25px; ">
    <center><font color="steelblue"><h3>Density (BMD) results</h3></font></center>
 
<table class="table table-striped table-inverse">
<tr>
<td colspan="3"><center><font color="blue"><b>Volume Fraction</font></center></td>
</tr>
<tr>
<td><b> Bone Volume </td>
<td><b> Total Volume </td>
<td><b> Volume Fraction </td>
</tr>
<tr>
<td>{{BVolum}} </td>
<td>{{TVolum}} </td>
<td>{{VFraction}} </td>
</tr>
</table>

<table class="table table-striped table-inverse">
<tr>
<td colspan="3"><center><font color="blue"><b>Density values</font></center></td>
</tr>

<tr>
<td><b> BMC </td>
<td><b> BMD </td>
<td><b> T-Score </td>
</tr>

<tr>
<td>{{BMC}} </td>
<td>{{BMD}} </td>
<td>{{TScor}} </td>
</tr>
</table>

<table class="table table-striped table-inverse">
<tr>
<td colspan="2"><center><font color="blue"><b>Fractal Dimension</font></center></td>
</tr>
<tr>
<td><b> Fractal Dim </td>
<td><b> R2 </td>
</tr>
<tr>
<td>{{FDim}} </td>
<td>{{R2}} </td>
</tr>
</table>

</div>
<div class="col-sm-4 col-xs-4 col-lg-4 col-md-4" style="border: 2px solid steelblue;overflow:auto;  border-radius: 25px;">
    <center><font color="steelblue"><h3>Microarchitecture results</h3></font></center>

<table class="table table-striped table-inverse">
<tr>
<td colspan="3"><center><font color="blue"><b>Trabecular Thickness</font></center></td>
</tr>
<tr>
<td><b> Mean </td>
<td><b> Std Dev </td>
<td><b> Max </td>
</tr>
<tr>
<td>{{TthM}} </td>
<td>{{TthDev}} </td>
<td>{{TthMax}}</td>
</tr>
</table>

<table class="table table-striped table-inverse">
<tr>
<td colspan="3"><center><font color="blue"><b>Trabecular Thickness Separation</font></center></td>
</tr>
<tr>
<td><b> Mean </td>
<td><b> Std Dev </td>
<td><b> Max </td>

</tr>
<tr>
<td>{{TspM}} </td>
<td>{{TspDev}} </td>
<td>{{TspMax}} </td>
</tr>
</table>

<table class="table table-striped table-inverse">
<tr>
<td colspan="2"><center><font color="blue"><b>Connectiviy</font></center></td>
</tr>
<tr>
<td><b> Connectivity </td>
<td><b> Trabecular. N </td>
</tr>
<tr>
<td>{{Conn}} </td>
<td>{{TN}} </td>
</tr>
</table>

<!-- <table class="table table-striped table-inverse"> -->
<!-- <tr> -->
<!-- <td colspan="2"><center><font color="blue"><b>Anisotropy</font></center></td> -->
<!-- </tr> -->
<!-- <tr> -->
<!-- <td><b> DA : </td> -->
<!-- <td><b> tDA: </td> -->
<!-- </tr> -->
<!-- <tr> -->
<!-- <td>{{DA}} </td> -->
<!-- <td>{{tDA}} </td> -->
<!-- </tr> -->
<!-- </table> -->       

 
</div>
	<div class="col-sm-4 col-xs-4 col-lg-4 col-md-4 col-centered">
   <center>
           <br><br>
				<a href="{{ path('enterface_download_result', { 'file' : 'Results.txt'}) }}" class="btn btn-success" download="Results.txt" role="button" style="width:300px;background-color: steelblue;">Download your Measures</a><br>
				<br>
				<a href="{{ path('enterface_service_saveResults', { 'name': 'Osteoporosis' }) }}" class="btn btn-success"  role="button" style="width:300px;background-color: steelblue;">Save your Results on MBP Server</a><br>
				<br>
				<center><a href="{{ path('enterface_download_result', { 'file' : 'Microarchitecture.tif'}) }}" class="btn btn-success" download="Microarchitecture.tif" role="button" style="width:300px;background-color: steelblue;" >Download 3D Microarchitecture Volume</a><br></center>
			</center>      
	</div>
{%endif%}
        </div>
        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{asset('design/js/jquery.js')}}"></script>

{% endblock %}
