{% extends '::base_login.html.twig' %}
{% block body %}
     <!-- Navigation -->
    <!-- Navigation -->
<script type="text/javascript">
    function fun ()
    {
        if ($('#videoUploadFile1').get(0).files.length === 0)
        {
            alert("you must choose Dicom files ");
            return false;
        }
        if ($('#videoUploadFile2').get(0).files.length === 0)
        {
            alert("you must choose BMD VALUES file ");
            return false;
        }
        if ($('#videoUploadFile3').get(0).files.length === 0)
        {
            alert("you must choose PHANTOM VALUES file ");
            return false;
        }
        $('#progress').html('<img src="../loader.gif"></img>');
    }
    
</script>
    

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><br>Cleo {{tes1}} <font color="red">(Personalized)</font> {{tes2}}:
                    <small>DICOM scanner</small>
                </h1>
            </div>
        </div>

        <div class="row">
               
            <div class="col-sm-6 col-xs-6">
              <h3>Application Description</h3>
              <p>
                An Extracting and calculating different density and microarchitecture metrics (bone mineral density (BMD), volume fraction, trabecular thickness, trabecular separation, etc). The BMD
value was calculated within a Phatom that we know in advance its density values (of several points within the
Phantom). A calibration is applied in order to estimate the density of each point within the 3D volume. As
result, we obtained a value representing the bone mineral density of the whole 3D volume.
              </p>
              <ul>
                  <li>Load your Dicom volume</li>
                  <li>Get your Density and microarchetecture Measures</li>
              </ul>
          </div>
  <div class="col-sm-6 col-xs-6">
                <img src="{{asset('design/img/Medical/scanner.jpg') }}" width="250" height="250" alt="" class="image-product"/>
               </div>
            <form id="imageform" action="{{ url('enterface_service_cleotreatmentperso') }}" method="post" enctype="multipart/form-data">
             <div class="col-sm-6 col-xs-8">
              <h3>Input Dicom :</h3><input id="videoUploadFile1" type="file" name="fichier[]" class="btn btn-info" multiple><br>
              <h3>Bmd VALUES (.txt) :</h3><input id= "videoUploadFile1" type="file" name="bmd" class="btn btn-info"><br> 
              <h3>Phantom VALUES (.txt) :</h3><input id="videoUploadFile1" type="file" name="phantom" class="btn btn-info"><br>
              <input type="submit" value="Get your Measures" class="btn btn-success" onclick="return fun();">
             </div>
                <div id="progress" class="col-sm-8 col-xs-8">
                  
              </div>
          </form>
           
            </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Authors : </p>
                </div>
            </div>

        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{asset('design/js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('design/js/bootstrap.min.js')}}"></script>
{% endblock %}
