{% extends '::base.html.twig' %} 
{% block body %}
    {% block stylesheets %}
        {#  <link href="{{asset('design/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">#}
        <link href="{{asset('design/css/SnippedNavBar.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('design/css/Accueil.css')}}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/86701580/mypersonalcdn/renda/renda-icon-font.css">

        <!-- pricing css -->
        <link href="{{asset('design/css/radiobutton.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('design/pricing/css/style.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('design/css/jquery-confirm.css')}}" rel="stylesheet" type="text/css"/>

    {% endblock %}

    {% block javascripts %}
        <!-- pricing JS -->
        <script src="{{asset('design/js/Backstretch.js') }}"></script>
        <script src="{{asset('design/js/MOVACP.js') }}"></script>
        <script src="{{asset('design/js/radiobutton.js') }}"></script>
    
        <script src="{{asset('design/js/jquery-confirm.js') }}"></script>
    {% endblock %}
    
<div id="divServices" class="container-fluid back-color-pricing services-container height-services">
            <div class="row ourServices-title ourService-text-size">
                <div class="col-xs-4 col-sm-12 col-md-12  col-lg-12">
                    <p>Services & Applications</p>
                </div>
            </div>
            <div class="row margin-top">
                <div class="col-xs-4 col-sm-12  col-md-12  col-lg-12 categorie">
                    <div class="buying-selling-group" id="buying-selling-group" data-toggle="buttons">                       
                        <li>
                            <label class="btn btn-default buying-selling" onClick="displayBasic()">
                                <input class="margin-left-basic" type="radio" name="options" id="rdBasic" autocomplete="off">
                                <span class="radio-dot"></span>
                                <span class="buying-selling-word">Basic</span>
                            </label>
                        </li>                            
                        <li>
                            <label class="btn btn-default buying-selling" onClick="displayAdvanced()">
                                <input type="radio" name="options" id="rdAdvanced" autocomplete="off">
                                <span class="radio-dot"></span>
                                <span class="buying-selling-word">Advanced</span>
                            </label>
                        </li>
                        <li>
                            <label class="btn btn-default buying-selling" onClick="displayPersonalized()">
                                <input class="margin-left-Personalized" type="radio" name="options" id="rdPersonalized" autocomplete="off" >
                                <span class="radio-dot"></span>
                                <span class="buying-selling-word">Personalized</span>
                            </label>
                        </li>
                        </ul>                          
                    </div>
                </div>
            </div>  
            <!-- Basic -->
            <div id="divPriceBasic" class="row v-h-center margin-top">
       
                <div class="col-xs-12 col-md-3 col-lg-3">                  
                    <div class="panel panel-primary">
                        <div class="basic-color">
                            <h3 class="panel-title">
                                Basic</h3>
                        </div>
                        <div class="panel-body product-title">
                            <header>
                                <P><font color="green">Vertebra Detection</font><br/>CAD FOR SCOLIOSIS</P>
                                     
                                <img src="{{asset('design/img/Medical/pad1.jpg') }}"  height="123" width="185" >
                                  
                           
                               
                                
                               
                                <div align="left">
                                    <ul class="list-group">
                                        <a class="list-group-item">Vertebra detection in MR images</a>
                                        <a class="list-group-item">Spine curve detection in MR images</a>  
                                    </ul>
                                </div>
                                <h1>
                                    
                            </header> <!-- .cd-pricing-header -->
                            <br>
                            <footer class="panel-footer">                           
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                                    <a href="{{ path('enterface_service_vertebrasegmentation') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_profile') }}" class="btn btn-success" role="button">Buy</a>
                                {%else%}
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Buy</a>
                                {%endif%}  
                            </footer>
                            <!-- .cd-pricing-footer -->
                        </div>
                    </div>                       
                </div>
                
                                <div class="col-xs-12 col-md-3 col-lg-3">                  
                    <div class="panel panel-primary">
                        <div class="basic-color">
                            <h3 class="panel-title">
                                Basic</h3>
                        </div>
                        <div class="panel-body product-title">
                            <header>
                                <P><font color="blue">Vertebra Mobility</font><br/>CAD FOR SCOLIOSIS</P>
                                     
                                <img src="{{asset('design/img/Medical/pad3.jpg') }}"  height="123" width="185" >
                                  
                           
                               
                                
                               
                                <div align="left">
                                    <ul class="list-group">
                                        <a class="list-group-item">Vertebra Mobility 1</a>
                                        <a class="list-group-item">Vertebra Mobility 2</a>  
                                    </ul>
                                </div>
                                <h1>
                                    
                            </header> <!-- .cd-pricing-header -->
                            <br>
                            <footer class="panel-footer">                           
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                                    <a href="{{ path('enterface_service_mobility') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_profile') }}" class="btn btn-success" role="button">Buy</a>
                                {%else%}
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Buy</a>
                                {%endif%}  
                            </footer>
                            <!-- .cd-pricing-footer -->
                        </div>
                    </div>                       
                </div>
                            
    
                            
            </div>
            <!-- Advanced -->
            <div id="divPriceAdvanced" class="row v-h-center margin-top">

                <div class="col-xs-12 col-md-3 col-lg-3">                  
                    <div class="panel panel-primary">
                        <div class="advanced-color">
                            <h3 class="panel-title">
                                Advanced</h3>
                        </div>
                        <div class="panel-body product-title">
                            <header>
                                <P><font color="green">Vertebra Detection</font><br/>CAD FOR SCOLIOSIS</P>
                                  <img src="{{asset('design/img/Medical/pad1.jpg') }}"  height="123" width="185" >
                                  
                                <div align="left">
                                    <ul class="list-group">
                                        <a class="list-group-item">Vertebra detection in MR images</a>
                                        <a class="list-group-item">Spine curve detection in MR images</a>  
                                        <a class="list-group-item">Web-parametrized and precise detection</a> 
                                        
                                    </ul>
                                </div>
                             
                            </header> <!-- .cd-pricing-header -->
                            <br>
                            <footer class="panel-footer">                           
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                                    <a href="{{ path('enterface_service_vertebradetection') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_profile') }}" class="btn btn-success" role="button">Buy</a>
                                {%else%}
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Buy</a>
                                {%endif%}  
                            </footer>
                        </div>
                    </div>                       
                </div>
                            
                         <div class="col-xs-12 col-md-3 col-lg-3">                  
                    <div class="panel panel-primary">
                        <div class="advanced-color">
                            <h3 class="panel-title">
                                Advanced</h3>
                        </div>
                        <div class="panel-body product-title">
                            <header>
                                <P><font color="blue">Vertebra Mobility</font><br/>CAD FOR SCOLIOSIS</P>
                                  <img src="{{asset('design/img/Medical/pad3.jpg') }}"  height="123" width="185" >
                                  
                                <div align="left">
                                    <ul class="list-group">
                                        <a class="list-group-item">Vertebra Mobility 1</a>
                                        <a class="list-group-item">Vertebra Mobility 2</a>  
                                        <a class="list-group-item">Vertebra Mobility 3</a> 
                                        
                                    </ul>
                                </div>
                             
                            </header> <!-- .cd-pricing-header -->
                            <br>
                            <footer class="panel-footer">                           
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                                    <a href="{{ path('enterface_service_mobility') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_profile') }}" class="btn btn-success" role="button">Buy</a>
                                {%else%}
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Buy</a>
                                {%endif%}  
                            </footer>
                        </div>
                    </div>                       
                </div>
                            
                            
            </div>
            <!-- Personalized -->
            <div id="divPricePersonalized" class="row v-h-center margin-top">
      
                <div class="col-xs-12 col-md-3 col-lg-3">                  
                    <div class="panel panel-primary">
                        <div class="personalized-color">
                            <h3 class="panel-title">
                                Personalized</h3>
                        </div>
                        <div class="panel-body product-title">
                            <header>
                                <P><font color="green">Vertebra Detection</font><br/>CAD FOR SCOLIOSIS</P>
                               
                                      <img src="{{asset('design/img/Medical/pad1.jpg') }}"  height="123" width="185" >                           
                                     
                                         <div align="left">      
                                    <ul class="list-group">
                                        
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPer1" value="Vdetection"> Vertebra detection</a>
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPer2" value="Cdetection"> Spine curve detection</a>  
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPer3" value="Vsegmentation"> Vertebra segmentation</a> 
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPer4" value="Interpretation"> Results analysis & interpretation</a> 
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPer5" value="visualisation"> 3D analysis & visualization</a> 
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPer6" value="precisedetection"> Web-parametrized and precise detection</a>
                                        
                                    </ul>
                                </div>
                                <h1>
                                
                                
                                </h1>
                            </header> <!-- .cd-pricing-header -->
                            <br>
                            <footer class="panel-footer">                           
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                                    <a href="{{ path('enterface_service_vertebrapersonalized') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_profile') }}" class="btn btn-success" role="button">Buy</a>
                                {%else%}
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Buy</a>
                                {%endif%}  
                            </footer>
                        </div>
                    </div>                       
                </div>
                
                    <div class="col-xs-12 col-md-3 col-lg-3">                  
                    <div class="panel panel-primary">
                        <div class="personalized-color">
                            <h3 class="panel-title">
                                Personalized</h3>
                        </div>
                        <div class="panel-body product-title">
                            <header>
                                <P><font color="blue">Vertebra Mobility</font><br/>CAD FOR SCOLIOSIS</P>
                               
                                      <img src="{{asset('design/img/Medical/pad3.jpg') }}"  height="123" width="185" >                           
                                     
                                         <div align="left">      
                                    <ul class="list-group">
                                        
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPerM1" value="VMobility1"> Vertebra Mobility 1</a>
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPerM2" value="VMobility2"> Vertebra Mobility 2</a>  
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPerM3" value="VMobility3"> Vertebra Mobility 3</a> 
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPerM4" value="VMobility4"> Vertebra Mobility 4</a> 
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPerM5" value="VMobility5"> Vertebra Mobility 5</a> 
                                        <a class="list-group-item"><input type="checkbox" name ="VertebraPerM6" value="VMobility6"> Vertebra Mobility 6</a>
                                        
                                    </ul>
                                </div>
                                <h1>
                                
                                
                                </h1>
                            </header> <!-- .cd-pricing-header -->
                            <br>
                            <footer class="panel-footer">                           
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                                    <a href="{{ path('enterface_service_mobility') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_profile') }}" class="btn btn-success" role="button">Buy</a>
                                {%else%}
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Try for free</a>
                                    <a href="{{ path('enterface_user_login') }}" class="btn btn-success" role="button">Buy</a>
                                {%endif%}  
                            </footer>
                        </div>
                    </div>                       
                </div>
                            
            </div>

        </div>
                <div id="divPublications" class="container-fluid publications-container">
            <div class="row" >
                <div class="col-lg-12 title-products v-h-center">
                    <p>References</p>
                </div>
            </div>
            <div class="row product-list publications-text"  >
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <ol>
                       
                        <li>
                            M. A. Larhmam, S. A. Mahmoudi et al., "A Portable Multi-CPU/Multi-GPU based Vertebra Localization in Sagittal MR Images", International Conference on Image Analysis and Recognition, Portugal, 2014.
                        </li>
                        <li>
                            M. A. Larhmam, M. Benjelloun, S. Mahmoudi, "Towards a computer aided diagnosis for spine metastasis detection in MRI" in International Journal of Computer Assisted Radiology and Surgery, 9(2014), Suppl 1, S239, 2014
                        </li>
                        <li>
                            F. Lecron, J. Boisvert, S. Mahmoudi, H. Labelle, M. Benjelloun, "Three-Dimensional Spine Model Reconstruction Using One-Class SVM Regularization" in IEEE Transactions on Biomedical Engineering, 60, 11, 3256-3264. 2013
                        </li>
                        <li>
                            M.A. Larhmam, M. Benjellou, S. Mahmoudi, "Vertebra identification using template matching model and K-means clustering" in International Journal of Computer Assisted Radiology and Surgery, 8, 1, pp. 1-11, 2013
                        </li>
                        <li>
                            M. A. Larhmam, M. Benjelloun, S. Mahmoudi, "A model-based approach for cervical spine mobility analysis" in Computer Assisted Radiology and Surgery : 27th international congress and exhibition, Vol. 8(1), 2013
                        </li>
                        <li>
                            S. A. Mahmoudi, F. Lecron, P. Manneback, M. Benjelloun,S. Mahmoudi, "Efficient Exploitation of Heterogeneous Platforms for Vertebra Detection in X-Ray Images" in "Biomedical Engineering International Conference" , Tlemcen, Algeria, 2012
                        </li>
                        <li>
                            F. Lecron, M. Benjelloun, S. Mahmoudi, “Cervical spine mobility analysis on radiographs: A fully automatic approach”, Computerized Medical Imaging and Graphics, 36 (8), pp. 634-642. 2012
                        </li>
                        <li>
                            F. Lecron, J. Boivert, S. Mahmoudi, H. Labelle, M. Benjelloun. ”Fast 3D spine reconstruction of postoperative patients using a multilevel statistical model”, International Conference on Medical Image Computing and Computer-Assisted Intervention, MICCAI, vol. 15, issue 2, pp. 446-453. 2012.
                        </li>
                        <li>
                            F. Lecron, J. Boisvert, M. Benjelloun, H. Labelle, S. Mahmoudi, "Multilevel statistical shape models: A new framework for modeling hierarchical structures" in "IEEE International Symposium on Biomedical Imaging" , pp. 1284-1287, Barcelona, Spain, 2012
                        </li>
                        <li>
                            M. Benjelloun, S. Mahmoudi, M. A. Larhmam, "Template Matching Approaches Applied to Vertebra Detection" in "Advances in Image Segmentation" , InTech, 978-953-51-0817-7, 2012
                        </li>
                        <li>
                            M. A. Larhmam, S. Mahmoudi, M. Benjelloun, "Semi-Automatic Detection of Cervical Vertebrae in X-ray Images Using Generalized Hough Transform" in "3rd International Conference on Image Processing Theory, Tools and Applications.IPTA’12" , 1, 396-401, Istanbul, Tuekey, 2012
                        </li>
                        <li>
                            F. Lecron, M. Benjelloun, S. Mahmoudi, "Fully automatic vertebra detection in x-ray images based on multi-class SVM" in "SPIE Medical Imaging: Image Processing" , 8314, San Diego, USA, 2012
                        </li>
                        <li>
                            F. Lecron, S. A. Mahmoudi, M. Benjelloun, S. Mahmoudi, P. Manneback, "Heterogeneous Computing for Vertebra Detection and Segmentation in X-Ray Images" in International Journal of Biomedical Imaging, Vol. 2011, 2011
                        </li>
                        <li>
                            F. Lecron, M. Benjelloun, S. Mahmoudi, "Vertebra segmentation for the computer-aided cervical mobility evaluation on radiographs" in International Journal of Computer Assisted Radiology and Surgery, 06, S1, S46-S52, 2011
                        </li>
                        <li>
                            S. Mahmoudi, M. Benjelloun, F. Lecron Fabian, "Medical image retrieval applied to computer aided diagnosis" in International Journal of Computer Assisted Radiology and Surgery, 06, S1, S67-S73, 2011
                        </li>
                        <li>
                            M. Benjelloun, S. Mahmoudi, F. Lecron, "A Framework of Vertebra Segmentation Using the Active Shape Model-Based Approach" in International Journal of Biomedical Imaging, ID 621905, 2011
                        </li>
                        <li>
                            S. A. Mahmoudi, F. Lecron, P. Manneback, M. Benjelloun, S. Mahmoudi, "GPU-Based Segmentation of Cervical Vertebra in X-Ray Images",  in IEEE International Conference on Cluster Computing, Crete, Greece, 2010.
                        </li>
                        <li>
                            F. Lecron, M. Benjelloun, S. Mahmoudi, "Points of Interest Detection in Cervical Spine Radiographs by Polygonal Approximation" in International conference on image processing theory, tools and applications" , 81-86, Paris, France, 2010
                        </li>
                        <li>
                            M. Benjelloun, S. Mahmoudi, F. Lecron, "A New Semi-Automatic Approach for X-Ray Cervical Images Segmentation Using Active Shape Model" in International Conference on Bio-inspired Systems and Signal Processing" , 501-506, Valence, Spain, 2010
                        </li>               
                    </ol>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div> 

    


<script type = 'text/javascript'>

        InitDisplayServicesBasic();
        setBackgroundDefil("divHomeTitle");
        scrollTo("lnkHome", "divHomeTitle");
        scrollTo("lnkAboutUS", "divAboutUs");
        scrollTo("lnkProducts", "divProducts");
        scrollTo("lnkServices", "divServices");
        scrollTo("lnkPublications", "divPublications");
        scrollTo("lnkNews", "divNews");
        scrollTo("lnkTeam", "divTeam");
        scrollTo("lnkBlog", "divHomeTitle");
        scrollTo("lnkFAQ", "divHomeTitle");
        scrollTo("lnkContact", "divContact");
        cacherTexte("divTextHidden");
      


    </script>
    
    
{% endblock %}