 {% block head %}
      <title>{% block title %}Medical Bone Process{% endblock %}</title>
           <!-- Bootstrap Core CSS -->
        <link href="{{asset('design/vendor/bootstrap3.3.7/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('design/css/base.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('design/css/session.css')}}" rel="stylesheet" type="text/css"/>
        

 {%endblock%}

{% block body %}
    <style>
    
    .toptoptop{
    display:block;
    width:55%;
    height:540px;
    background-color:#475;
    overflow:scroll;
    }</style>
        
        <header>
        <div>
            <div class="container-fluid navbar-accueil" id="divNavbarAccueil">
                <div class="row vertical-middle">                   
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-12 vertical-middle">                               
                        <nav>
                            <ul class="nav navbar-nav">    
                                <li> <img src="{{asset('design/img/Medical/MOVACP.gif')}}"  class="img-accueil-header"/></li>
                                <li><a href="{{ path('enterface_service_homepage')}}" id="lnkHome">Home</a></li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </a>
                                    </li>
                                    <li>
                                {% else %}  
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div> 
            </div>
        </div>
    </header>
     {% block javascripts %}
        <script src="{{asset('design/js/angular.js') }}" ></script>
        <script src="{{asset('design/js/DicomViewer-basic.js') }}"></script>
        {% endblock %} 
  <span style="top:0%;left: 25%;width: 50%;height: 100%; margin:.3%;text-align: center;font-size: 2em; position: absolute;color: navy;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-shadow: 2px 2px #37A9DA;"> DICOM-Viewer (Enterface'17) </span>
  <center>
    <div ng-app="ngdicomviewer" ng-init="ishelp = false" style="top:0%;left: 0%;width: 100%;height: 100%;padding: 0px; position: absolute">
    
      <span style="top:0%;left: 25%;width: 50%;height: 100%; margin:.3%;text-align: center;font-size: 2em; position: absolute;color: white;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"> DICOM-Viewer (Enterface'17) </span>
      <br> <br> <br>
    <div class = "container-fluid" >
  
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           
          
              <font color="blue">Your Dicom File :</font><br/>
              
              <div class="toptoptop" style="background:black">
              
                  <dicomviewer width="200" height="250" fileutilityid ="fileinput" ></dicomviewer>
              
              </div>
              
  
	</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            <span><center>FILE: Please select all the Dicom slices of your directory (Ctrl + A) <center></span>
           <center>
           <input id = "fileinput" class = "btn btn-info" style = "width:80%" type="file" multiple="" />
         <br/><center><span><font color="blue">Please Scroll to browse your DICOM file</font> </span></center>
         <img src="{{asset('design/img/Medical/mouseWheel.gif') }}" height="80" width="80"></img>
         <br>
             
            </center>
        
        </div>  
    </div> 
 {% block footer %}
    
    <footer class="footer vertical-middle">
        <div>
            <P>©2017 BY MEDICAL BONE PROCESS</P>
        </div> 
    </footer>
{% endblock footer %}
     
{% endblock %}