{% extends '::base_login.html.twig' %} 
{% block body %}    
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
$(window).load(function(){
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#videoUploadFile").change(function(){
        readURL(this);
    });
});
</script>
<script>
     function fct() {
     var a=document.getElementById('p1').value;
     var b=document.getElementById('p2').value;
     var c=document.getElementById('p3').value;
     var d=document.getElementById('p4').value;
     var e=document.getElementById('p5').value;
     
     
     $('#doss').html('<img src="../loader.gif"></img>');
     $.ajax({  
                url:"{{path('enterface_service_advancedvertebra')}}",  
                method:"POST",  
                data:{aa:a, bb:b, cc:c, dd:d, ee:e},  
                dataType:"text",  
                success:function(data)  
                {  
                     //alert(data);  
                     document.getElementById('doss').scrollIntoView();
                     $('html, body').animate({scrollTop: $("#doss").offset().top}, 'slow');
                     $('#doss').html(data);
                       
                }  
           })
     }
</script> 

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><br>Vertebra Segementation <font color="red">(Advanced!!)</font>
                    <small>MRI images</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-sm-8 col-xs-8">
              <h3>Application Description</h3>
              <p>
                A web based framework for spine curve extraction and vertebra segmentation in T1-weighted MR images. This method is a fast parametrized algorithm based on three
steps:
              </p>

              <ul>
                  <li>Image enhancing</li>
                  <li>Clustering</li>
                  <li>Shape recognition techniques.</li>
              </ul>
          </div>
           {% if works %}
               <div class="container-fluid">
             <div class="col-sm-8 col-xs-12 col-lg-6 col-md-6">
                <form  runat="server" id="imageform" action="{{ url('enterface_service_showvertebraAdvanced') }}" method="post" enctype="multipart/form-data">
                <h3>Input file : </h3>  
   
                <img id="blah" style="width:250px; height:460px;" class="img-responsive portfolio-item" src="/downloadresult/1.jpg?rnd={{ random() }}" alt="">
                <input type="file" name="fichier" class="btn btn-info" id="videoUploadFile"><br>
                <input type="submit" value="Get the vertebrae" class="btn btn-success" onclick="return fun();">
                </form>
            </div>
             
            <div class="col-sm-8 col-xs-12 col-lg-6 col-md-6">
               <h3>Parameters:</h3>
              
        <form id="imageform" action="{{ url('enterface_service_showvertebraAdvanced') }}" method="post" enctype="multipart/form-data">
        Opening value (0 to 6): <input type="range" class="bar" name="in1" id="in" value="2" step="1" min="0" max="6" onclick="return fct();" onchange="getvalor(this.value);" oninput="param1.value =in1.value"/>
         <center><input type="text" size="1" name="param1" id="p1" value="2"></input></center>
         
        Meanshift value (SpatialRad) (0 to 60): <input type="range" class="bar" name="in2" id="in" value="4" step="1" min="0" max="60" onclick="return fct();" onchange="getvalor(this.value);" oninput="param2.value = in2.value"/>
         <center><input type="text" size="1" name="param2" id="p2" value="4" onchange="return fct();" ></input></center>
         
        Meanshift value (ColorRad) (0 to 60): <input type="range" class="bar" name="in3" id="in" value="24" step="1" min="1" max="60" onclick="return fct();" onchange="getvalor(this.value);" oninput="param3.value = in3.value"/>
         <center><input type="text" size="1" name="param3" id="p3" value="25" ></input></center>
         
        Ellipse value (high size) (0 to 200): <input type="range" class="bar" name="in4" id="in" value="100" step="1" min="0" max="200" onclick="return fct();" onchange="getvalor(this.value);" oninput="param4.value = in4.value"/>
         <center><input type="text" size="2" name="param4" id="p4" value="100"  ></input></center>
         
        Ellipse value (low size) (0 to 200): <input type="range" class="bar" name="in5" id="in" value="40" step="1" min="0" max="200" onclick="return fct();" onchange="getvalor(this.value);" oninput="param5.value = in5.value"/>
              <center><input type="text" size="2" name="param5" id="p5" value="40"></input></center>
             
              <br>
              <center><input type="submit" value="               Refresh          " class="btn btn-success"><br>
                  
              <a href="{{ path('enterface_service_saveResults', { 'name': 'Scoliosis' }) }}" class="btn btn-primary btn-group-sm"  role="button">Save your Results on MBP Server</a><br>
              
              </center>
       
        </form>
             
            </div>
           </div>
              <div id="doss" class="container-fluid">
  
          <div class="col-sm-4 col-xs-8 col-lg-4 col-md-4">
               <h3> <FONT color="blue" size="5">Results :</FONT><br>Vertebrae Detection : </h3><br>
              <img style="width:250px; height:460px;" class="img-responsive portfolio-item" src="/vertebraimage/0/0/0/out_img.jpg?rnd={{ random() }}" alt=""><br>
              <a href="/vertebraimage/0/0/0/out_img.jpg?rnd={{ random() }}" download="MRI_vertebrae_Detection" class="btn btn-primary btn-lg active" role="button">Download this result</a>
           </div>
           
         
           <div class="col-sm-4 col-xs-8 col-lg-4 col-md-4">
              <h3><br>Vertebrae MeanShif (Filtering) : </h3><br>
              <img style="width:250px; height:460px;" class="img-responsive portfolio-item" src="/vertebraimage/0/0/0/meanshift.jpg?rnd={{ random() }}" alt=""><br>
           <a href="/vertebraimage/0/0/0/meanshift.jpg?rnd={{ random() }}" download="MRI_vertebrae_Curve" class="btn btn-primary btn-lg active" role="button">Download this result</a>
            
           </div>
          
           <div class="col-sm-4 col-xs-8 col-lg-4 col-md-4">
              <h3><br>Vertebrae Ellipses (Fitting) : </h3><br>
           <img style="width:250px; height:460px;"class="img-responsive portfolio-item" src="/vertebraimage/0/0/0/ellipse.jpg?rnd={{ random() }}" alt=""><br>
           <a href="/vertebraimage/0/0/0/ellipse.jpg?rnd={{ random() }}" download="MRI_segmented_vertebrae.jpg" class="btn btn-primary btn-lg active" role="button">Download this result</a>
           </div>
                  
                  
     
	 
                
              </div>
           {%endif%}
      
        
        <hr>

    </div>
    </div>
      <script src="{{asset('design/js/jquery.js')}}"></script>

{%endblock body%}