 {% block head %}
      <title>{% block title %}Medical Bone Process{% endblock %}</title>
           <!-- Bootstrap Core CSS -->
        <link href="{{asset('design/vendor/bootstrap3.3.7/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('design/css/base.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('design/css/session.css')}}" rel="stylesheet" type="text/css"/>
       
            <script type="text/javascript">
		"use strict";
		var prepareTIFF = function() {
			var files = document.getElementById( "tiff-file" ).files;
			var file = files[0];

			if (files.length < 1 || file.type !== 'image/tiff') {
				return;
			}

			var reader = new FileReader();

			reader.onload = function(e) {
				var canvas = document.getElementById("tiff-image");
				var canvasParent = canvas.parentNode;

				// Load the TIFF parser.
				var tiffParser = new TIFFParser();

				console.log( tiffParser );

				// Parse the TIFF image.
				var tiffCanvas = tiffParser.parseTIFF(e.target.result, canvas);

				// Make it clear that we've loaded the image.
				tiffCanvas.style.borderStyle = "solid";

				console.log( tiffCanvas );

				// Put the parsed image in the page.
				canvasParent.replaceChild(tiffCanvas, canvas);
			};

			reader.readAsArrayBuffer( file );
		}
	</script>
     

 {%endblock%}

{% block body  %}
 
        <header>   
        
            <div class="container-fluid navbar-accueil" id="divNavbarAccueil">
                <div class="row vertical-middle">                   
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-12 vertical-middle">                               
                        <nav>
                            <ul class="nav navbar-nav">    
                                <li> <img src="{{asset('design/img/Medical/MOVACP.gif')}}"  class="img-accueil-header"/></li>                  
                            </ul>
                        </nav>
                    </div>
                </div> 
            </div>
        
    </header>
     {% block javascripts %}
        <script src="{{asset('design/js/tiff.js') }}" ></script>
        
        {% endblock %} 
       
  <span style="top:0%;left: 25%;width: 50%;height: 100%; margin:.3%;text-align: center;font-size: 2em; position: absolute;color: navy;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-shadow: 2px 2px #37A9DA;"> 3D Tiff-Viewer (Enterface'17) </span>
  <center>
      <span style="top:0%;left: 25%;width: 50%;height: 100%; margin:.3%;text-align: center;font-size: 2em; position: absolute;color: white;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;"> 3D Tiff-Viewer (Enterface'17) </span>
              
      
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <canvas id="tiff-image" style="display: block; width: 450px; max-width: 100%; margin: 2em auto; border: 1px dashed magenta; padding: 0px; background-color: #000000;"></canvas>
       
      
      <form name="tiff-parser" method="post" enctype="multipart/form-data" >
         
        <input type="file" name="tiff-file" id="tiff-file" accept="image/tiff" class='btn btn-info' required onchange="prepareTIFF();">
        <br><input type="button" name="parse" value="Parse TIFF file" class='btn btn-info' onclick="prepareTIFF();">
         
     </form>
      </div>

      
      
 {% block footer %}
    
    <footer class="footer vertical-middle">
        <div>
            <P>©2017 BY MEDICAL BONE PROCESS</P>
        </div> 
    </footer>
{% endblock footer %}
     
{% endblock %}