{% extends '::base_login.html.twig' %} 
{% block body %}
     

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><br>Real time Tracking in echo cardio 
                    <small>Video Files</small>
                </h1>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-xs-8">
              <h3>Application Description</h3>
              <p>
Left ventricle segmentation and tracking in ultrasound images present necessary tasks for cardiac diagnostic. In this work, we propose an accurate and automatic method for left ventricle segmentation and tracking. The method is based on optical ow estimation for detecting the left ventricle center. Then, the contour is defined and tracked using convex hull and spline interpolation algorithms. Our experiments are conducted using a set of 11 normal and 17 disease hearts ultrasound video sequences. The related results achieved automatic and real-time left ventricle detection and tracking with a rate of 92 % of success.
              </p>
              <ul>
                  <li>Upload Your Video</li>
                  <li>Wait for the generation</li>
                  <li>Get the Results video</li>
              </ul>
          </div>

          <div class="col-sm-8 col-xs-8">
            <h3>Result of the tracking : <h3>
                    
  <video controls>
  <source src="{{ path('enterface_download_result', { 'file' : 'Results.webm'}) }}">
  </video>                 
    <br>
  <a href="{{ path('enterface_download_result', { 'file' : 'Results.webm'}) }}" class="btn btn-primary btn-lg active" role="button" download="Results.webm">Download The Video</a><br>
  <br><a href="{{ path('enterface_service_saveResults', { 'name': 'Toolbox' }) }}" class="btn btn-primary btn-lg"  role="button">Save your Results on MBP Server</a><br>
          </div>
        </div>
        <hr>
    </div>
     <script src="{{asset('design/js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('design/js/bootstrap.min.js')}}"></script>
    
{%endblock body%}
