<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

    <table class="table table-responsive" align="center" >

        <tr>
            <td><Font color="black" size="4">Username :</Font></td>
            <td><font color="black" size="4"> {{ form_widget(form.username) }}</font></td>
        </tr>
          <tr>
            <td><font color="black" size="4">Email :</font></td>
            <td><font color="black" size="4"> {{ form_widget(form.email) }}</font></td>
        </tr>
          <tr>
            <td> <font color="black" size="4">Current Password :</font></td>
            <td> <font color="black" size="4">{{ form_widget(form.current_password) }} </font</td>
        </tr>
        <tr>
            <td><font color="black" size="4">Title :</font></td>
            <td><font color="black" size="4"> {{ form_widget(form.title) }} </font></td>
        </tr>
         <tr>
            <td><font color="black" size="4">First name :</font></td>
            <td><font color="black" size="4"> {{ form_widget(form.firstname) }} </font></td>
        </tr>
         <tr>
            <td><font color="black" size="4">Last name :</font></td>
            <td><font color="black" size="4"> {{ form_widget(form.lastname) }} </font></td>
        </tr>
         <tr>
            <td><font color="black" size="4">Company :</font></td>
            <td><font color="black" size="4"> {{ form_widget(form.company) }} </font></td>
        </tr>
         <tr>
            <td><font color="black" size="4">Adress :</font></td>
            <td><font color="black" size="4"> {{ form_widget(form.adress) }} </font></td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><br><input type="submit" class="btn btn-primary btn-lg" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" /> <td>
        </tr>
    
    </table>
        

    <div>
        {{ form_row(form._token) }}
    </div>
</form>
