{% extends "EnterfaceUserBundle::layout.html.twig" %}

{% block fos_user_content %}
           
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            Your Profile:</a>
        </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body"><br> <br>
            
                <table class="table table-responsive" align="center">
                
                    <tr>
                        <td style="text-align: left;">User Name :</td>
                        <td style="text-align: left;">{{ user.username|default('') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">First Name :</td><td style="text-align: left;">{{ app.user.getFirstname() }}</td> 
                    </tr>
                    <tr>
                        <td style="text-align: left;">Last Name :</td> <td style="text-align: left;">{{ app.user.getLastname() }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Adress :</td> <td style="text-align: left;">{{ app.user.getAdress()}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Email :</td> <td style="text-align: left;">{{ app.user.getEmail()}}</td>
                    </tr>
                
                    <tr>
                        <td style="text-align: left;">Title :</td> <td style="text-align: left;">{{ app.user.getTitle()}}</td>
                    </tr>
                
                    <tr>
                        <td style="text-align: left;">Company :</td> <td style="text-align: left;">{{ app.user.getCompany()}}</td>
                    </tr>
                </table>
                <br>
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-lg" role="button">Modify</a>
                <br>
                <br>
                <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-lg" role="button">Change Password</a>
                <br> 
            </div>
        </div>
    </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            Your Dashboard:</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
          <!-- Implement Request to get all the results and add button for consulting-->
            <table class="table table-responsive" align="center">
                
                <tr>
                    <th>Application</th>
                    <th>IPP</th>
                    <th>Date and Time</th>
                    <th>Actions </th>
                </tr>
                
                {% for result in listResults %}
                    
                    <tr>
                    <td style="text-align: left;">{{ result.applicationname }}</td>
                    <td style="text-align: left;">{{ result.ipp }}</td>
                    <td style="text-align: left;">{{ result.date|date('Y-m-d H:i:s') }}</td>
                    <td> <a href="{{ path('enterface_service_restoreResults', { 'id': result.id }) }}" style ="color: black;" data-toggle="tooltip" title="Click" role="button"> Consult </a> &nbsp; or &nbsp; <a href="{{ path('enterface_user_delete', { 'id': result.id }) }}" style ="color: black;" data-toggle="tooltip" title="Click" role="button" onClick="return(confirm('Are you sure you want to delete this result ?'));"> Delete </a></td>
                    </tr>
                    
                {% endfor %}   
          
            </table>
          
          
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            Your Wallet:</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
          <form action="{{ path('enterface_user_buy') }}" method="post">
          <table class="table table-responsive" align="center"> 
            <tr>
                <td style="text-align: left;">Your credits : {{ app.user.getCredit()}} Euros </td> 
            </tr>
            <tr>
                <td style="text-align: left;">You can buy credits : </td> 
                <td> <div class="form-group">
                         <input type="text" class="form-control" id="buycredit" name="buycredit">
                        </div> 
                </td>
                <td> 
                    <p> Euros </p>
                </td>
            </tr>
          
          </table>
          
            <input type="submit" onClick="return(confirm('Do you confirm ?'));" id="_buysubmit" class="btn btn-primary btn-lg" name="_buysubmit" value="Order" /> <br>
            <img src="{{asset('design/img/PayPal.png')}}"  alt="" style="width:80px;height:60px"/>
          </form>
          </div>
        </div>
      </div>
                        
                        
                        
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            Your Applications:</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
          <form action="#" method="post">
          <table class="table table-responsive" align="center">
                <tr>
                    <th>Application</th>
                    <th>Options</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td> <img src="{{asset('design/img/Medical/scanner.jpg')}}"  alt="" style="width:110px;height:110px"/> 
                        <div class="caption">
                            <P>OSTEOPOROSIS</P>
                        </div>
                    </td>
                    <td>  <div class="form-group">
                                <select class="form-control" id="sel1">
                                    {% if app.user.getCredit()>= 6 %}
                                    <option value = 'B' >Basic</option>
                                    <option value = 'A'>Advanced</option>
                                    <option value = 'P'>Personalized</option>
                                    {% elseif app.user.getCredit()< 6 and app.user.getCredit() >= 4 %}
                                    <option value = 'B' >Basic</option>
                                    <option value = 'A'>Advanced</option>
                                    {% elseif app.user.getCredit()< 4 and app.user.getCredit() >= 2 %}
                                    <option value = 'B' >Basic</option>
                                    {% elseif app.user.getCredit()< 2 %}
                                    {% endif %}
                                </select>
                            </div> 
                    </td>
                    <td> 
                        {% if app.user.getCredit()>=2 %}
                        <a href="{{ path('enterface_service_cleo') }}" class="btn btn-primary btn-lg" role="button">Launch Analysis</a>
                        {% else %}
                            <p> Buy some credits </p>
                        {% endif %}
                    </td>     
                </tr>

                <tr>
                    <td> <img src="{{asset('design/img/Medical/pad.jpg')}}"  alt="" style="width:110px;height:110px"/> 
                        <div class="caption">
                            <P>SCOLIOSIS</P>
                        </div>
                    </td>
                    <td>  <div class="form-group">
                                <select class="form-control" id="sel1">
                                    {% if app.user.getCredit()>= 6 %}
                                    <option value = 'B' >Basic</option>
                                    <option value = 'A'>Advanced</option>
                                    <option value = 'P'>Personalized</option>
                                    {% elseif app.user.getCredit()< 6 and app.user.getCredit() >= 4 %}
                                    <option value = 'B' >Basic</option>
                                    <option value = 'A'>Advanced</option>
                                    {% elseif app.user.getCredit()< 4 and app.user.getCredit() >= 2 %}
                                    <option value = 'B' >Basic</option>
                                    {% elseif app.user.getCredit()< 2 %}
                                    {% endif %}
                                </select>
                            </div> 
                    </td>
                    <td> 
                        {% if app.user.getCredit()>=2 %}
                        <a href="{{ path('enterface_service_vertebrasegmentation') }}" class="btn btn-primary btn-lg" role="button">Launch Analysis</a>
                        {% else %}
                            <p> Buy some credits </p>
                        {% endif %}
                    </td>
                </tr>
                
                <tr>
                    <td> <img src="{{asset('design/img/Medical/docter_pad.jpg')}}"  alt="" style="width:110px;height:110px"/> 
                        <div class="caption">
                            <P>TOOLBOX</P>
                        </div>
                    </td>
                    <td>    <div class="form-group">
                                <select class="form-control" id="sel1">
                                    {% if app.user.getCredit()>= 2 %}
                                    <option value = 'B' >Basic</option>
                                    <option value = 'A'>Advanced</option>
                                    <option value = 'P'>Personalized</option>
                                    {% else%}
                                    <option value = 'B' >Basic</option>
                                    <option value = 'A'>Advanced</option>
                                    {% endif %}
                                </select>
                            </div> 
                    </td>
                    <td> 
                      
                        <a href="{{ path('enterface_service_cardiotracking') }}" class="btn btn-primary btn-lg" role="button">Launch Analysis</a>

                    </td>
                </tr>
          </table>
          </form>
          </div>
        </div>
      </div>

</div>            

{% endblock fos_user_content %}


