{% extends '::base.html.twig' %} 
{% block body %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html">eNTERFACE'16 - MOVACP project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">MOVACP: Monitoring Computer Vision Applications in Cloud Platforms</h1>
            </div>
            <br> <br>
            {% if id == 1 %}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Dr.   Sidi Mahmoudi</FONT></h3></a>                
                <center>  <img src="{{asset('design/team/sidi.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Sidi Mahmoudi is .......
                        </b>
                    </p>
                </h3>
            {% elseif id == 2 %}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Dr.   Fabian Lecron</FONT></h3></a>                
                <center>  <img src="{{asset('design/team/fabian.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Faibian Lecron is .......
                        </b>
                    </p>
                </h3>
               {% elseif id == 3 %}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Ir.    EL ADOUI MOHAMMED </FONT></h3></a>                
                <center>  <img src="{{asset('design/team/eladoui.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Mohammed EL ADOUI is .......
                        </b>
                    </p>
                    </h3>
                {% elseif id == 4 %}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Ir.    Omar Seddati</FONT></h3></a>                
                <center>  <img src="{{asset('design/team/omar.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Omar Seddati is .......
                        </b>
                    </p>
                    </h3>
                 {% elseif id == 5 %}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Ir.    Mohamed Amin Belarbi</FONT></h3></a>                
                <center>  <img src="{{asset('design/team/belarbi.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Mohammed Amin Belarbi is .......
                        </b>
                    </p>
                    </h3>
                {% elseif id == 6 %}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Dr.    Mohamed Amin Lazouni</FONT></h3></a>                
                <center>  <img src="{{asset('design/team/lazouni.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Mohammed Amin Lazouni is .......
                        </b>
                    </p>
                </h3>
                 {% elseif id == 7 %}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Ir.    Mohamed Hammoudi</FONT></h3></a>                
                <center>  <img src="{{asset('design/team/hammoudi.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Mohammed Hammoudi is .......
                        </b>
                    </p>
                    </h3>
                  {% elseif id == 8 %}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Ir.    Mohamed Amine Larhmam</FONT></h3></a>                
                <center>  <img src="{{asset('design/team/Larhmam.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Mohammed Amin Lazouni is .......
                        </b>
                    </p>
                    </h3>
                {% elseif id == 9%}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Dr.    Mohammed Benjelloun</FONT></h3></a>                
                <center>  <img src="{{asset('design/team/benjelloun.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Mohammed Benjelloun is .......
                        </b>
                    </p>
                    </h3>
                {% elseif id == 10%}
                <a href="{{ url('enterface_service_homepage') }}"><h3><FONT COLOR="white" >• Dr.    Said Mahmoudi</FONT></h3></a>                
                <center>  <img src="{{asset('design/team/said.jpg')}}" class="img-responsive" height="205" width="255"></center>
                <h3>
                    <p>
                        <b>
                            Said Mahmoudi is .......
                        </b>
                    </p>
                    </h3>
            {% endif %}
        </div>

    </header>
{% endblock body %}